* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

p {
    color: white;
}

img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.section-color {
    background-color: #2a3034;
}

.round-corner {
    border-radius: 10px;
}

.align-center {
    width: 80vw;
    margin: auto;
}

.date {
    display: flex;
    gap: 3px;
    align-items: center;
    font-size: 0.85rem;
    opacity: 75%;
}

.location {
    display: flex;
    gap: 3px;
    align-items: center;
    font-size: 0.85rem;
    opacity: 75%;
}

.icon {
    width: 24px;
    height: 24px;
}

.round {
    border-radius: 50%;
}

header {
    position: fixed;
    width: 100vw;
    height: 8vh;
    top: 0;
    left: 0;
    background-color: black;
    z-index: 1;
    border-bottom: 1px solid #2a3034;
}

#logo {
    display: flex;
    gap: 15px;
    align-items: center;
    margin-top: 1vh;
}

#logo p {
    font-size: 1.5rem;
    font-weight: 800;
    color: rgb(215, 188, 140);
}

#logo img {
    width: 60px;
    height: 60px;
}

#sidebar {
    padding: 1%;
    position: fixed;
    height: 100vh;
    width: 15vw;
    border-right: 1px solid #2a3034;
    top: 0;
    left: 0;
    margin-top: 10vh;
}

#sidebar button {
    width: 100%;
    height: 50px;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    align-items: center;
    padding-left: 5px;
}

#sidebar button:hover {
    background-color: #656e74;
}

#sidebar button p {
    font-size: 1.1rem;
}

main {
    display: grid;
    gap: 12vw;
    grid-template-columns: 650px 15vw;
    margin-top: 10vh;
    margin-left: 30vw;
}

.menu-item {
    display: flex;
    gap: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
}

#ideal-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.ideal-item img {
    height: 200px;
    width: 92%;
}

.ideal-item p {
    font-size: 0.9rem;
}

.post-item {
    height: 550px;
    padding: 3% 5%;
    margin-bottom: 15px;
}

.post-item img {
    height: 80%;
    width: 100%;
}

.post-person {
    display: grid;
    grid-template-columns: 60px auto;
    gap: 20px;
    margin-bottom: 10px;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.name-ago {
    display: flex;
    gap: 5px;
    align-items: center;
}

.dot {
    height: 5px;
    width: 5px;
    background-color: white;
    border-radius: 50%;
    align-content: center;
}

.ago {
    opacity: 70%;
}

.tag {
    margin-top: 10px;
    display: flex;
    gap: 4px;
}

.tag p {
    color: rgb(172, 165, 247);
}

.announce-item {
    padding: 5%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 20px;
}

.announce-item .title-section p {
    font-weight: 800;
}

.announce-item .img-section {
    height: 50%;
}

.announce-item .content-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.announce-item .content-section .description {
    font-size: 0.9rem;
    opacity: 90%;
}
