#filter-section {
    display: flex;
    gap: 20px;
    padding: 20px 0px 0px 20px;
}

.filter-item label {
    color: white;
    margin-left: 5px;
}

#map-section {
    padding: 20px;
    height: 85vh;
}

.menu-item:nth-child(3) p {
    color: rgb(215, 188, 140);
    font-weight: 800;
}